Repository rsokl/MyGrad, pull requests merged in 2020-01, with the labels that each got.

#187 ensure that (non-array) floats are tested as input during forward pass
  tests/math/binary/test_binary_funcs.py
  tests/math/sequence/test_sequential_funcs.py
  tests/math/unary/test_abs.py
  tests/math/unary/test_cbrt.py
  tests/nnet/layers/test_gru.py
  tests/test_tensor_manip.py
  tests/wrappers/uber.py
Labels: test-suite

#186 Fix sigmoid, add test
  src/mygrad/nnet/activations/sigmoid.py
  tests/nnet/activations/test_sigmoid.py
Labels: bug, test-suite

#188 Cleans up all runtime and deprecation warnings that were raised by the test suite!
  tests/custom_strategies/test_strategies.py
  tests/math/sequence/test_sequential_funcs.py
  tests/math/test_misc.py
  tests/math/unary/test_exp.py
  tests/math/unary/test_scipy_mirror.py
  tests/nnet/layers/test_gru.py
  tests/tensor_base/test_tensor.py
  tests/test_indexing_routines.py
  tests/test_operation_base.py
  tests/test_utils.py
Labels: code quality, test-suite

#189 Update setup.py
  setup.py
Labels: documentation
