Repository rsokl/MyGrad, pull requests merged in 2020-08, with the labels that each got.

#278 remove ability to set Tensor.constant
  src/mygrad/tensor_base.py
  tests/state_testing/test_state.py
  tests/tensor_base/test_tensor.py
  tests/tensor_ops/test_getitem.py
  tests/tensor_ops/test_iter.py
Labels: bug

#276 Demonstrate that python3 wants to warn you not to override __eq__ withou __hash__
  .gitignore
  src/mygrad/linalg/ops.py
  src/mygrad/operation_base.py
  src/mygrad/tensor_base.py
  tests/tensor_base/test_tensor.py
Labels: code quality

#290 Ensure backprop through pow special cases is covered by tests
  tests/math/binary/test_binary_funcs.py
Labels: test-suite

#289 add tests for augmented updates
  src/mygrad/tensor_base.py
  tests/tensor_base/test_augmented_updates.py
Labels: test-suite

#291 provide sensible defaults for tensors() and make array_shapes importa…
  tests/custom_strategies/__init__.py
Labels: test-suite

#292 Improve existing setitem tests
  tests/tensor_ops/test_setitem.py
Labels: test-suite

#294 Add astensor
  src/mygrad/__init__.py
  src/mygrad/tensor_base.py
  tests/custom_strategies/__init__.py
  tests/tensor_base/test_tensor.py
  tests/test_tensor_creation.py
Labels: enhancement
