Repository rsokl/MyGrad, pull requests merged in 2020-02, with the labels that each got.

#202 Settable shape
  src/mygrad/__init__.py
  src/mygrad/indexing_routines/funcs.py
  src/mygrad/linalg/funcs.py
  src/mygrad/math/arithmetic/funcs.py
  src/mygrad/math/exp_log/funcs.py
  src/mygrad/math/hyperbolic_trig/funcs.py
  src/mygrad/math/misc/funcs.py
  src/mygrad/math/sequential/funcs.py
  src/mygrad/math/trigonometric/funcs.py
  src/mygrad/nnet/activations/relu.py
  src/mygrad/nnet/activations/sigmoid.py
  src/mygrad/nnet/activations/softmax.py
  src/mygrad/nnet/layers/batchnorm.py
  src/mygrad/nnet/layers/conv.py
  src/mygrad/nnet/layers/gru.py
  src/mygrad/nnet/layers/pooling.py
  src/mygrad/nnet/losses/margin_ranking_loss.py
  src/mygrad/nnet/losses/multiclass_hinge.py
  src/mygrad/nnet/losses/softmax_crossentropy.py
  src/mygrad/tensor_base.py
  src/mygrad/tensor_manip/array_shape/funcs.py
  src/mygrad/tensor_manip/array_shape/ops.py
  src/mygrad/tensor_manip/tiling/funcs.py
  src/mygrad/tensor_manip/transpose_like/funcs.py
  tests/custom_strategies/__init__.py
  tests/custom_strategies/test_strategies.py
  tests/tensor_base/test_op_wrapper.py
  tests/tensor_ops/test_reshape.py
  tests/wrappers/uber.py
Labels: enhancement, test-suite

#195 Add hard_tanh activation
  src/mygrad/nnet/activations/__init__.py
  src/mygrad/nnet/activations/hard_tanh.py
  tests/nnet/activations/test_hard_tanh.py
Labels: enhancement

#206 fix clip docs
  src/mygrad/math/misc/funcs.py
Labels: documentation

#208 hardnet_tanh: ensure test avoids overlapping bounds with data
  tests/nnet/activations/test_hard_tanh.py
Labels: test-suite
